.actionBtn {
  padding: 0.3rem 0.8rem;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.95rem;
  cursor: pointer;
  margin-right: 0.5rem;
}

.deleteBtn {
  color: red;
  border-color: #ffcccc;
}